@import "tailwindcss";

.typed-cursor {
  color: #06b6d4;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  animation: blink 0.7s infinite, cursorColor 3s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* @keyframes cursorColor {
  0% { color: #06b6d4; }    
   33% { color: #06b6d4; }  
     66% { color: #06b6d4; }  
   100% { color: #06b6d4; }  
 } */

html.dark {
  --text-primary: #ffffff;
  --text-secondary:oklch(71.5% 0.143 215.221);
  --text-hover:oklch(78.9% 0.154 211.53);
  --border-radious:oklch(60.9% 0.126 221.723);
--shadow-primary: 0 0 25px rgba(34, 211, 238, 0.4);
  --bg-secondary:oklch(27.8% 0.033 256.848);
  --bg-navbar:oklch(44.6% 0.03 256.802);



  /* shadow & border */
  --shadow-glow: 0 0 35px rgba(34, 211, 238, 0.6);
  --border-color: #0ea5e9;


  /* gradient sectiion */
  --custom-a0: #1a123d;
  --custom-a10: #1e2341;
  --custom-a20: #172a47;
  --custom-a30: #1c3452;
  --custom-a40: #203248;
}

:root {
  --text-primary: #0f172a;
  --text-secondary:oklch(58.5% 0.233 277.117);
  --text-hover:oklch(51.1% 0.262 276.966);
  --border-radious:oklch(51.1% 0.262 276.966);
  --shadow-primary: 0 0 25px rgba(124, 58, 237, 0.35);
  --bg-secondary:oklch(92.8% 0.006 264.531);
  --bg-navbar:oklch(87.2% 0.01 258.338);

    /* shadow & border (light mode) */
  --shadow-glow: 0 0 35px rgba(130, 70, 233, 0.684);
  --border-color: #6b33f6;

  /* gradient sectiion */
  --custom-a0: #faf7ff;
  --custom-a10: #ede7ff;
  --custom-a20: #dcd7ff;
  --custom-a30: #c9c8ff;
  --custom-a40: #b6b8ff;
}

.bg-gradient {
  background: linear-gradient(
    to right,
    var(--custom-a0),
    var(--custom-a10),
    var(--custom-a20),
    var(--custom-a30),
    var(--custom-a40)
  );
}

/* html.dark{
  --bg-primary: [linear-gradient(to_right,var(--custom-a0),var(--custom-a10),var(--custom-a20),var(--custom-a30),var(--custom-a40))];
  --bg-secondary: #1e293b;
  --text-primary: #ffffff;
  --accent: #06b6d4;
 } */
